<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BilerKlarTilRapport</title>
</head>
<body>
<h1>Biler klar til rapport</h1>

<div id="table_design">
    <table style="float: left">
        <tr>
            <th>Vognnummer</th>
            <th>stelnummer</th>
            <th>Lav rapport</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bil: ${biler}">
            <td th:text="${bil.vognnummer}"/>
            <td th:text="${bil.stelnummer}"/>
            <td>
                <a th:href="@{'/rapportForm/'+${bil.vognnummer}}">
                    <button>Lav rapport</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--        Man kunne evt. bare lave en ny liste til højre for de biler der er klar til rapport som viser de uafsluttede -->

<div>
    <a th:href="@{'/printRapporter'}">
        <input type="submit" value="Se rapporter"></a>
</div>

</body>
</html>