<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rapportklar Biler</title>
    <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>

<h1>Biler klar til rapport</h1>

<div class="statBoxBilerRapport">

    <table style="float: left">

        <thead>
        <tr>
            <th style="padding-bottom: 2%">Vognnummer</th>
            <th style="padding-bottom: 2%">Stelnummer</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bil: ${biler}" style="text-align: center">
            <td th:text="${bil.vognnummer}"/>
            <td th:text="${bil.stelnummer}"/>
            <td>
                <a th:href="@{'/rapportForm/'+${bil.vognnummer}}">
                    <input type="submit" value="Lav rapport" class="greenButton"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="annullerButtonAddBilDiv">
    <form action="/SkadeOgUdbedringLandingPage" method="get">
        <button class="redButton" type="submit">Tilbage</button>
    </form>
</div>

</body>
</html>