<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret skade</title>
</head>
<body>
<h1>Opret skade</h1>

<h2>Skader tilføjet indtil videre</h2>
<table style="float: left">
    <tr>
        <th>Beskrivelse</th>
        <th>Pris</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="skade: ${skader}">
        <td th:text="${skade.beskrivelse}"/>
        <td th:text="${skade.pris}"/>
    </tr>
    </tbody>
</table>
<form action="/opretSkade" method="post">

    <label for="beskrivelse">Beskrivelse af skaden: </label>
    <input type="text" id="beskrivelse" name="beskrivelse" placeholder="beskrivelse">
    <br>
    <label for="pris">Pris på skaden: </label>
    <input type="text" id="pris" name="pris" placeholder="pris">
    <br>

    <input type="hidden" name="vognnummer2a" th:value="${vognnummer2a}" />
    <input type="hidden" name="vognnummer2b" th:value="${vognnummer2b}" />
    <input type="submit" value="SUBMIT">
</form>


<form action="/afslutRapport" method="post">
    <input type="hidden" name="vognnummer2b" th:value="${vognnummer2b}">
    <input type="hidden" name="vognnummer2a" th:value="${vognnummer2a}">
    <input type="submit" value="Afslut rapport">
</form>
</body>
</html>