<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print Rapporter</title>
    <link rel="stylesheet" href="/MyCSS.css">
</head>
<body style="background-color: #144164">
<div id="annullerButtonAddBilDiv" style="justify-content: flex-start;padding: 0px">
    <form action="/" method="get">
        <button class="redButton" style="padding: 5px; font-size: 10px" type="submit">Tilbage til forsiden</button>
    </form>
</div>
<h1 style="background-color: white">Skaderapporter</h1>


<div id="lejeAftaleSortDiv">
    <form action="/printRapporterMedSortering" method="post">
        <select name="sortMuligheder" class="generalFormInput">
            <option value="skaderapport_id">ID</option>
            <option value="skaderapport_dato">Dato</option>
            <option value="bruger_id">Bruger ID</option>
            <option value="kontrakt_id">Kontrakt ID</option>
        </select>
        <input type="submit" value="Sortér" class="greenButton">
    </form>
</div>

<div class="kontrakt-box-container">
    <div th:each="skaderapport : ${skaderapporter}" class="kontrakt-box">
        <p>ID: <span th:text="${skaderapport.skaderapport_id}"></span></p>
        <p>Dato: <span th:text="${skaderapport.skaderapport_dato}"></span></p>
        <p>Bruger ID: <span th:text="${skaderapport.bruger_id}"></span></p>
        <p>Kontrakt ID: <span th:text="${skaderapport.kontrakt_id}"></span></p>
        <form action="/visSkaderapport" method="post">
            <input type="hidden" name="skaderapport_id" th:value="${skaderapport.skaderapport_id}">
            <input class="greenButton" style="padding: 8px;font-size: 12px;margin-top: 6px" type="submit"
                   value="Se rapport">
        </form>
    </div>
</div>

</body>
</html>