<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RapportForm</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Her laver du en rapport på den bil du lige har klikket ind på</h1>
<h2>Input</h2>
<div id="generelBodyDiv">
<form action="/indsendRapportForm" style="float: left" method="post">

    <label class="generalFormLabel">Skaderapport dato</label>
    <input class="generalFormInput" type="date" name="skaderapport_dato">
    <br>

    <input type="hidden" name="vognnummer1" th:value="${vognnummer1}" />

    <label class="generalFormLabel">Medarbejer ID</label>
    <input class="generalFormInput" type="text" name="bruger_id">
    <br>
    <input type="submit" class="greenButton">
</form>
</div>
</body>
</html>