<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkadeOgUdbedring</title>

</head>
<body>
<h1>Bruger: Skade og udbedring</h1>
<form action="bilerKlarTilRapport" method="post">
    <button>Vis biler klar til skade rapport</button>
</form>
<form action="NEEDACTION">
    <button>Hvis bruger skal kunne andre ting</button>
</form>

<form id="annullerButton" action="/" method="get">
    <button class="loginForm-submitButton" type="submit">Tilbage</button>
</form>
</body>
</html>