<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skade Og Udbedring</title>
    <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>
<h1>Bruger: Skade og udbedring</h1>
<div class="menuBoxDiv">
    <form action="/bilerKlarTilRapport" method="get">
        <input class="menuPageItem" type="submit" value="Vis biler klar til skaderapport">
    </form>
</div>

<div class="menuBoxDiv">
    <form action="/printRapporter" method="get">
        <input class="menuPageItem" type="submit" value="Se rapporter">
    </form>
</div>

<div id="annullerButtonAddBilDiv">
    <form action="/" method="get">
        <button class="redButton" type="submit">Tilbage til forsiden</button>
    </form>
</div>

</body>
</html>