<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<h1>Tilføj en ny bil</h1>

<div id="addBilFormDiv">

    <form action="opretBil" method="post">
        <input type="hidden" th:value="${model_id}" name="model_id"/>

        <table>
            <tr>
                <td><label class="addBilLabel">Model: </label></td>
                <td><p><span th:text="${model}"></span></p></td>
            </tr>
            <tr>
                <td><label class="addBilLabel">Tilføj stelnummer: </label></td>
                <td><input class="addBilFormInput" type="text" name="stelnummer" placeholder="Indtast her..."></td>
            </tr>

            <tr>
                <td><label class="addBilLabel">Tilføj stålpris: </label></td>
                <td><input class="addBilFormInput" type="text" name="staalpris" placeholder="Indtast her..."></td>
            </tr>

            <tr>
                <td><label class="addBilLabel">Tilføj registreringspris: </label></td>
                <td><input class="addBilFormInput" type="text" name="registrerings_afgift" placeholder="Indtast her...">
                </td>
            </tr>

            <tr>
                <td><label class="addBilLabel">Tilføj Co2-udledning: </label></td>
                <td><input class="addBilFormInput" type="text" name="CO2_udledning" placeholder="Indtast her..."></td>
            </tr>

            <tr>
                <td><label class="addBilLabel">Bil tilstand: </label></td>
                <td>
                    <input type="radio" class="addBilFormInput" name="bilTilstand" value="LEJEKLAR" checked> Lejeklar
                    <input type="radio" class="addBilFormInput" name="bilTilstand" value="RESERVERET"> Reserveret
                    <input type="radio" class="addBilFormInput" name="bilTilstand" value="SKADET"> Skadet
                </td>
            </tr>

            <tr>
                <td><label class="addBilLabel">Gear type: </label></td>
                <td>
                    <input type="radio" class="addBilFormInput" name="gear_type" value="MANUELT" checked> Manuelt
                    <input type="radio" class="addBilFormInput" name="gear_type" value="AUTOMATISK"> Automat
                </td>
            </tr>

            <tr>
                <td><label class="addBilLabel">Brændstofs type: </label></td>
                <td>
                    <input type="radio" class="addBilFormInput" name="braendstof" value="BENZIN" checked> Benzin
                    <input type="radio" class="addBilFormInput" name="braendstof" value="EL"> EL
                    <input type="radio" class="addBilFormInput" name="braendstof" value="Diesel"> Diesel
                    <input type="radio" class="addBilFormInput" name="braendstof" value="Hybrid"> Hybrid
                </td>
            </tr>


        </table>

        <input class="greenButton" type="submit" value="Tilføj bil til databasen" style="float: right;margin-top:15px;">

    </form>

</div>

<div id="annullerButtonAddBilDiv">
    <form action="dataRegistrering" method="get">
        <button class="redButton" type="submit">Annuller</button>
    </form>
</div>

</body>
</html>