<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
</head>
<body>
<h1>Data Registrering</h1>
<form action="opretLejeaftale" method="get">
    <input type="submit" value="Opret Lejeaftale">
</form>
<form action="XXX" method="get">
    <input type="submit" value="empty">
</form>
<form action="XXX" method="get">
    <input type="submit" value="empty">
</form>

<form id="annullerButton" action="/" method="get">
    <button class="loginForm-submitButton" type="submit">Tilbage</button>
</form>

</body>
</html>