<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Data Registrering</h1>

<div class="menuBoxDiv">
    <form action="opretLejeaftale" method="get">
        <input class="menuPageItem" type="submit" value="Opret Lejeaftale">
    </form>
</div>
<div class="menuBoxDiv">
    <form action="/addBilSide" method="get">
        <input class="menuPageItem" type="submit" value="Tilføj ny bil">
    </form>
</div>
<div class="menuBoxDiv">
    <form action="XXX" method="get">
        <input class="menuPageItem" type="submit" value="empty">
    </form>
</div>

<div id="annullerButtonAddBilDiv">
    <form action="/" method="get">
        <button class="annullerButtonAddBil" type="submit">Tilbage til forsiden</button>
    </form>
</div>

</body>
</html>