<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Kunde</title>
    <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>

<h1>Opret Kunde</h1>

<div id="h2Div">
    <h2>Indtast oplysninger om kunden</h2>
</div>


<div id="generelBodyDiv">
    <form action="/opretKunde" method="post">

        <table>
            <tr>
                <td><label class="generalFormLabel">Fornavn: </label></td>
                <td><input class="generalFormInput" type="text" name="fornavn" required
                           placeholder="Indtast her..."></td>
            </tr>

            <tr>
                <td><label class="generalFormLabel">Efternavn: </label></td>
                <td><input class="generalFormInput" type="text" name="efternavn" required
                           placeholder="Indtast her..."></td>
            </tr>

            <tr>
                <td><label class="generalFormLabel">Email: </label></td>
                <td><input class="generalFormInput" type="email" name="email" required
                           placeholder="Indtast her..."></td>
            </tr>

            <tr>
                <td><label class="generalFormLabel">Mobil: </label></td>
                <td><input class="generalFormInput" type="text" name="mobil" required
                           placeholder="Indtast her..."></td>
            </tr>

        </table>
        <input type="submit" class="greenButton" value="Opret kunde" style="margin-top:15px; width: 100%;">
    </form>
</div>

<div class="annullerButtonAddBilDiv">
    <form action="/dataRegistrering" method="get">
        <button class="redButton" type="submit">Tilbage</button>
    </form>
</div>

</body>
</html>