<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Lejeaftale</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Opret Lejeaftale</h1>
<div id="addBilFormDiv">
    <form action="/saveLejeaftale" method="post">


        <table>
            <tr>
                <td><label class="addBilLabel">Vognnummer</label>
                <td><input class="addBilFormInput" type="text" name="vognnummer">
                    <!--        value="${kontrakt.vognnummer}"-->
            </tr>

            <tr>
                <td><label class="addBilLabel">Kunde id</label>
                <td><input class="addBilFormInput" type="text" name="kunde_id">
            </tr>

            <tr>
                <td><label class="addBilLabel">Start Dato</label>
                <td><input class="addBilFormInput" type="date" name="start_dato">
            </tr>

            <tr>
                <td><label class="addBilLabel">Slut Dato</label>
                <td><input class="addBilFormInput" type="date" name="slut_dato">
            </tr>

            <tr>
                <td><label class="addBilLabel">Afhentningslokations id</label>
                <td><input class="addBilFormInput" type="text" name="afhentningslokation_id">
            </tr>

            <tr>
                <td><label class="addBilLabel">Afleveringslokation id</label>
                <td><input class="addBilFormInput" type="text" name="afleveringslokation_id">
            </tr>

            <tr>
                <td><label class="addBilLabel">Total pris</label>
                <td><input class="addBilFormInput" type="text" name="total_pris">
            </tr>

            <tr>
                <td><label class="addBilLabel">Bruger id</label>
                <td><input class="addBilFormInput" type="text" name="bruger_id">
            </tr>
        </table>
        <input class="greenButton" type="submit" value="Lav Kontrakt" style="float: right;margin-top:15px;">
    </form>
</div>
<div id="annullerButtonAddBilDiv">
    <form action="dataRegistrering" method="get">
        <button class="redButton" type="submit">Annuller</button>
    </form>
</div>
<!--    <div style="width: 50%;height: 80%; background-color: lightblue; padding: 5px;margin-right: 2%; float: right">-->
<!--        <div style="display: flex; justify-content: space-between; align-items: center;">-->
<!--            <form action="/opretLejeaftale" method="get">-->
<!--                <input type="submit"name="seBiler" value="Biler">-->
<!--            </form>-->
<!--            <button>Button 2</button>-->
<!--            <button>Button 3</button>-->
<!--        </div>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th th:each="kolonneNavn : ${kolonneNavne}" th:text="${kolonneNavn}"></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="row : ${data}">-->
<!--                <td th:each="cell : ${row}" th:text="${cell}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->


</body>
</html>