<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Kunde</title>
    <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>

<h1>Opret Kunde</h1>


<div id="generelBodyDiv">
    <form action="/opretKunde" method="post">

        <table>
            <tr>
                <td><label class="generalFormLabel">Fornavn: </label></td>
                <td><input class="generalFormInput" type="text" name="fornavn" required></td>
            </tr>

            <tr>
                <td><label class="generalFormLabel">Efternavn: </label></td>
                <td><input class="generalFormInput" type="text" name="efternavn" required></td>
            </tr>

            <tr>
                <td><label class="generalFormLabel">Email: </label></td>
                <td><input class="generalFormInput" type="email" name="email" required></td>
            </tr>

            <tr>
                <td><label class="generalFormLabel">Mobil: </label></td>
                <td><input class="generalFormInput" type="text" name="mobil" required></td>
            </tr>

        </table>
        <input type="submit" class="greenButton" style="float: right">
    </form>
</div>

<div>
    <form action="/dataRegistrering" method="get">
        <input type="submit" class="redButton" value="tilbage">
    </form>
</div>

</body>
</html>