<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se Lejeaftaler</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Se Lejeaftaler</h1>
<div id="lejeAftaleTopDiv">
    <form action="/seLejeaftaler" method="get">
        <input type="submit" value="Nuværende">
        <input type="hidden" name="toggle" value="0">
    </form>
    <form action="/seLejeaftaler" method="get">
        <input type="submit" value="Afsluttede">
        <input type="hidden" name="toggle" value="1">
    </form>
</div>
<div>
    <p th:if="${toggle == 0}">Nuværende</p>
    <p th:if="${toggle == 1}">Afsluttede</p>
</div>
<div class="kontrakt-box-container">
    <div th:each="kontrakt : ${kontraktListe}" class="kontrakt-box">
        <p>Start dato: <span th:text="${kontrakt.start_dato}"></span></p>
        <p>Slut dato: <span th:text="${kontrakt.slut_dato}"></span></p>
        <p>Kunde ID: <span th:text="${kontrakt.kunde_id}"></span></p>
            <form action="/visLejeaftale" method="post">
                <input type="hidden" name="kontrakt_id" th:value="${kontrakt.kontrakt_id}">
                <input type="submit" value="Se Kontrakt">
            </form>
    </div>
</div>

</body>
</html>