<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se Lejeaftaler</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<div id="annullerButtonAddBilDiv" style="justify-content: flex-start;padding: 0px">
    <form action="/" method="get">
        <button class="redButton" style="padding: 5px; font-size: 10px" type="submit">Tilbage til forsiden</button>
    </form>
</div>
<h1>Se Lejeaftaler</h1>
<div id="lejeAftaleSearchDiv">
    <div style="align-self: flex-start">
        <h3>Søg</h3>
    </div>
    <div style="margin-left: auto;margin-right: auto">
        <form action="/visLejeaftale" method="post">
            <input class="generelFormInput" type="number" min="1" th:max="${maxKontraktId}" name="kontrakt_id" placeholder="ID">
            <input class="greenButton" type="submit" value="Gå til Lejeaftale">
        </form>
    </div>
</div>
<div id="lejeAftaleSortDiv">
    <div style="align-self: flex-start">
        <h3>Sorter</h3>
    </div>
    <div style="margin-left: auto;margin-right: auto">
        <form action="/seLejeaftaler" method="get">
            <select class="generelFormInput" name="sortMuligheder">
                <option value="kontrakt_id" th:selected="${sortMuligheder == 'kontrakt_id'}">ID</option>
                <option value="start_dato" th:selected="${sortMuligheder == 'start_dato'}">Start Dato</option>
                <option value="slut_dato" th:selected="${sortMuligheder == 'slut_dato'}">Slut Dato</option>
                <option value="total_pris" th:selected="${sortMuligheder == 'total_pris'}">Pris</option>
            </select>
            <button th:class="${toggle == 0 ? 'greenButtonSelected' : 'greenButton'}" type="submit" name="toggle"
                    value="0">Nuværende
            </button>
            <button th:class="${toggle == 1 ? 'greenButtonSelected' : 'greenButton'}" type="submit" name="toggle"
                    value="1">Afsluttede
            </button>
        </form>
    </div>
</div>
<div class="kontrakt-box-container">
    <div th:each="kontrakt : ${kontraktListe}" class="kontrakt-box">
        <p>Kontrakt ID: <span th:text="${kontrakt.kontrakt_id}"></span></p>
        <p>Start dato: <span th:text="${kontrakt.start_dato}"></span></p>
        <p>Slut dato: <span th:text="${kontrakt.slut_dato}"></span></p>
        <p>Total Pris: <span th:text="${kontrakt.total_pris}"></span> DKK</p>
        <form action="/visLejeaftale" method="post">
            <input type="hidden" name="kontrakt_id" th:value="${kontrakt.kontrakt_id}">
            <input class="greenButton" style="padding: 8px;font-size: 12px;margin-top: 6px" type="submit"
                   value="Se Kontrakt">
        </form>
    </div>
</div>

</body>
</html>