<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se Lejeaftaler</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Se Lejeaftaler</h1>
<div id="lejeAftaleTopDiv">
    <form action="/seLejeaftaler" method="get">
        <select name="sortMuligheder">
            <option value="kontrakt_id" th:selected="${sortMuligheder == 'kontrakt_id'}">ID</option>
            <option value="start_dato" th:selected="${sortMuligheder == 'start_dato'}">Start Dato</option>
            <option value="slut_dato" th:selected="${sortMuligheder == 'slut_dato'}">Slut Dato</option>
            <option value="total_pris" th:selected="${sortMuligheder == 'total_pris'}">Pris</option>
        </select>
        <button type="submit" name="toggle" value="0">Nuværende</button>
        <button type="submit" name="toggle" value="1">Afsluttede</button>
    </form>
</div>
<div>
    <p th:if="${toggle == 0}">Nuværende</p>
    <p th:if="${toggle == 1}">Afsluttede</p>
</div>
<div class="kontrakt-box-container">
    <div th:each="kontrakt : ${kontraktListe}" class="kontrakt-box">
        <p>Kontrakt ID: <span th:text="${kontrakt.kontrakt_id}"></span></p>
        <p>Start dato: <span th:text="${kontrakt.start_dato}"></span></p>
        <p>Slut dato: <span th:text="${kontrakt.slut_dato}"></span></p>
        <!--        <p>Kunde ID: <span th:text="${kontrakt.kunde_id}"></span></p>-->
        <p>Total Pris: <span th:text="${kontrakt.total_pris}"></span></p>
        <form action="/visLejeaftale" method="post">
            <input type="hidden" name="kontrakt_id" th:value="${kontrakt.kontrakt_id}">
            <input type="submit" value="Se Kontrakt">
        </form>
    </div>
</div>

</body>
</html>