<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tilføj lokation</title>
  <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>

<h1>Tilføj Lokation</h1>

<div id="h2Div">
  <h2>Indtast oplysninger om lokationen</h2>
</div>


<div id="generelBodyDiv">
  <form action="/tilfoejLokation" method="post">

    <table>

      <tr>
        <td><label class="generalFormLabel">Lokationens navn: </label></td>
        <td><input class="generalFormInput" type="text" name="lokation_navn" required
                   placeholder="Indtast her..."></td>
      </tr>

      <tr>
        <td><label class="generalFormLabel">Adresse: </label></td>
        <td><input class="generalFormInput" type="text" name="adresse" required
                   placeholder="Indtast her..."></td>
      </tr>

      <tr>
        <td><label class="generalFormLabel">By: </label></td>
        <td><input class="generalFormInput" type="text" name="by_navn" required
                   placeholder="Indtast her..."></td>
      </tr>

      <tr>
        <td><label class="generalFormLabel">Postnummer: </label></td>
        <td><input class="generalFormInput" type="number" name="postnummer" required
                   placeholder="Indtast her..."></td>
      </tr>



    </table>
    <input type="submit" class="greenButton" style="margin-top:15px; width: 100%;">
  </form>
</div>

<div class="annullerButtonAddBilDiv">
  <form action="/dataRegistrering" method="get">
    <button class="redButton" type="submit">Tilbage</button>
  </form>
</div>


</body>
</html>