<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vælg mærke</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vælg Mærke</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<h1>Tilføj en ny bil</h1>

<div id="h2Div">
    <h2>Vælg mærke</h2>
</div>

<div id="generalBodyDiv">

    <form action="/vaelgModelSide" method="get">
        <table>

            <tr>
                <td><label class="generalFormLabel">Vælg bilmærke:</label></td>
                <td>
                    <select class="generalFormInput" name="maerke_id">
                        <option th:each="maerke : ${maerker}" th:value="${maerke.maerke_id}"
                                th:text="${maerke.maerke_navn}" th:name="${maerke_id}"></option>
                    </select>
                </td>
            </tr>

        </table>
        <input class="greenButton" type="submit" value="Næste" style="margin-top:15px; width: 100%;">
    </form>
</div>

<div id="annullerButtonAddBilDiv">
    <form action="dataRegistrering" method="get">
        <button class="redButton" type="submit">Tilbage</button>
    </form>
</div>

</body>
</html>
</body>
</html>