<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vælg mærke</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<h1>Tilføj en ny bil</h1>


<div id="h2Div">
  <h2>Vælg mærke</h2>
</div>

<div id="addBilFormDiv">

  <form action="opretBil" method="post">
    <table>
      <tr>
        <td><label class="addBilLabel">Vælg mærke: </label></td>
        <td><input class="addBilFormInput" type="text" name="stelnummer" placeholder="Indtast her..."></td>
      </tr>


    </table>
    <p>Hej</p>
    <input class="greenButton" type="submit" value="Næste" style="float: right;margin-top:15px;">

  </form>

</div>

<div id="annullerButtonAddBilDiv">
  <form action="dataRegistrering" method="get">
    <button class="redButton" type="submit">Tilbage</button>
  </form>
</div>

</body>
</html>
</body>
</html>