<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin side</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Administrationen</h1>

<div id="h2Div">
    <h2>Opret bruger</h2>
</div>

<div id="generelBodyDiv" style="padding:40px 0px;">
    <form class="login-form" action="/opretBruger" method="post">

        <table>
            <tr>
                <td><label class="generalFormLabel">Indtast ønskede brugernavn: </label></td>
                <td><input class="generalFormInput" type="text" placeholder="Indtast her..." name="brugernavn"></td>
            </tr>
            <tr>
                <td><label class="generalFormLabel">Indtast ønskede adgangskode: </label></td>
                <td><input class="generalFormInput" type="text" placeholder="Indtast her..." name="kode"></td>
            </tr>
        </table>
        <button class="greenButton" type="submit" style="margin-top:15px; width: 100%;">
            Opret bruger
        </button>

    </form>
</div>

<div class="h2Div">
    <h2>Brugerliste</h2>
</div>

<div class="tableBody">
    <table class="">

        <thead>
        <tr class="brugerlisteTr">
            <th class="brugerlisteTh">Bruger ID</th>
            <th class="brugerlisteTh">Brugernavn</th>
            <th class="brugerlisteTh">Kodeord</th>
        </tr>
        </thead>

        <tbody>
        <tr class="brugerlisteTr" th:each="bruger : ${brugerListe}">
            <td class="brugerlisteTd" th:text="${bruger.bruger_id}"></td>
            <td class="brugerlisteTd" th:text="${bruger.brugernavn}"></td>
            <td class="brugerlisteTd" th:text="${bruger.kode}"></td>
        </tr>
        </tbody>

    </table>
</div>

<div class="h2Div">
    <h2>Slet bruger</h2>
</div>

<div class="generelBodyDiv" style="padding:40px 0px;">
    <form id="login-form" action="/sletBrugerSide" method="post">
        <table>
            <tr>
                <td><label class="generalFormLabel">Husk bruger ID på den bruger du vil slette: </label></td>
                <td>
                    <button class="redButton" type="submit">SLET BRUGER</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="annullerButtonAddBilDiv">
    <form action="/" method="get">
        <button class="redButton" type="submit">Log ud</button>
    </form>
</div>
</body>
</html>