<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<h1>Slet en bruger</h1>

<div class="h2Div">
    <h2>Hov! noget gik galt</h2>
</div>

<div class="generelBodyDiv">
    <form id="login-form" action="/sletBruger" method="post">
        <table>
            <tr>
                <td><label class="generelFormLable">Indtast brugerens ID for at slette: </label></td>

                <td><input class="generelFormInput" type="input" name="bruger_id" th:value="${bruger_id}"/></td>
            </tr>
        </table>
        <button class="redButton" type="submit" style="margin-top:15px;">Slet bruger</button>
    </form>
</div>

<div class="advarselsDiv">
    <div class="advarselsInnerDiv">
        <h3>Tjek: </h3>
        <p class="advarselstekst">- at brugeren findes <br>
            - at du ikke prøver at slette adminbrugeren</p></td>
    </div>
</div>

<div id="annullerButtonAddBilDiv">
    <form action="/adminSide" method="get">
        <button class="redButton" type="submit">Tilbage</button>
    </form>
</div>

</body>
</html>