<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Brugerliste</h1>

<table>

    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

            </td>
        </tr>
    </tbody>

</table>

<h2>Slet bruger</h2>
<div id="sletBrugerBoks">
  <form id="login-form" action="/sletBruger" method="post">

    <label class="loginForm-label">Indtast brugernavn: </label>
    <input class="loginForm-input" type="text" placeholder="Indtast her..." name="brugernavn">

    <button class="loginForm-submitButton" type="submit">SLET</button>
  </form>
</div>

  <form id="annullerButton" action="/" method="get">
    <button class="loginForm-submitButton" type="submit">Til forside</button>
  </form>


</body>
</html>