<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Opret bruger</h1>
<table>
    <div id="opretBrugerBoks">
        <form class="login-form" action="/opretBruger" method="post">

            <label class="loginForm-label">Indtast ønskede brugernavn: </label>
            <input class="loginForm-input" type="text" placeholder="Indtast her..." name="brugernavn">

            <label class="loginForm-label">Indtast ønskede adgangskode: </label>
            <input class="loginForm-input" type="text" placeholder="Indtast her..." name="kode">

            <button class="loginForm-submitButton" type="submit">Opret bruger</button>
        </form>
    </div>

    <h2>Brugerliste</h2>
    <thead>
        <tr>
            <th>Bruger ID</th>
            <th>Brugernavn</th>
            <th>Kodeord</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="bruger : ${brugerListe}">
            <td th:text="${bruger.bruger_id}"></td>
            <td th:text="${bruger.brugernavn}"></td>
            <td th:text="${bruger.kode}"></td>
        </tr>
    </tbody>

</table>

<h2>Slet bruger</h2>

<form id="login-form" action="/sletBrugerSide" method="post">
    <label class="loginForm-label">Husk bruger ID på den bruger du vil slette: </label>
    <button class="loginForm-submitButton" type="submit">SLET EN BRUGER</button>
</form>

  <form class="annullerButton" action="/" method="get">
    <button class="loginForm-submitButton" type="submit">Tilbage knappen</button>
  </form>


</body>
</html>