<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Side</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>

<body>

<h1>Login</h1>

<div id="h2Div">
    <h2>Hovsa!</h2>
</div>

<div id="generelBodyDiv">
    <form id="login-form" action="/loginBruger" method="post">

        <table>
            <tr>
                <td><label class="generalFormLabel">Brugernavn: </label></td>
                <td><input class="generalFormInput" type="text" placeholder="Indtast her..." name="brugernavn"></td>
            </tr>
            <tr>
                <td><label class="generalFormLabel">Adgangskode: </label></td>
                <td><input class="generalFormInput" type="text" placeholder="Indtast her..." name="kode"></td>
            </tr>
        </table>

        <button class="greenButton" type="submit" style="margin-top:15px; width: 100%;">Login</button>

    </form>
</div>



<div class="advarselsDiv">
    <div class="advarselsInnerDiv">
        <h3>Fejl i brugernavn eller kode</h3>
        <p class="advarselstekst">Prøv igen</p>
    </div>
</div>

<div id="annullerButtonAddBilDiv">
    <form action="/" method="get">
        <button class="redButton" type="submit">Annuller</button>
    </form>
</div>
</body>
</html>