<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin adgang krævet</title>
</head>
<body>
<h1>Administrativ adgang</h1>

<form id="login-form" action="/adminLoggedInd" method="post">

  <h2>Login</h2>
  <label class="loginForm-label">Brugernavn: </label>
  <input class="loginForm-input" type="text" placeholder="Indtast brugernavn..." name="brugernavn">

  <label class="loginForm-label">Adgangskode: </label>
  <input class="loginForm-input" type="password" placeholder="Indtast kode..." name="kode">

  <button class="loginForm-submitButton" type="submit">Login</button>

  <div id="AdvarseslsBoks">
  <p class="advarselstekst">Den indtastede adminadgangskode er ikke korrekt.</p>
  <p class="advarselstekst">Venligst forsøg igen eller kontakt autoriseret personale for assistance.</p>
  </div>

</form>

<form id="annullerButton" action="/" method="get">
  <button class="loginForm-submitButton" type="submit">Tilbage</button>
</form>

</body>
</html>
