<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Bruger Fejl</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body><h1>Opret bruger</h1>

<div id="h2Div">
    <h2>Noget gik galt!</h2>
</div>

<div id="generelBodyDiv" style="padding:40px 0px;">
    <form class="login-form" action="/opretBruger" method="post">

        <table>
            <tr>
                <td><label class="generalFormLabel">Indtast ønskede brugernavn: </label></td>
                <td><input class="generalFormInput" type="text" placeholder="Indtast her..." name="brugernavn"></td>
            </tr>
            <tr>
                <td><label class="generalFormLabel">Indtast ønskede adgangskode: </label></td>
                <td><input class="generalFormInput" type="text" placeholder="Indtast her..." name="kode"></td>
            </tr>
        </table>
        <button class="greenButton" type="submit" style="margin-top:15px; width: 100%;">
            Opret bruger
        </button>

    </form>
</div>

<div class="advarselsDiv">
    <div class="advarselsInnerDiv">
        <h3>Fejl</h3>
        <p class="advarselstekst">Brugernavnet er allerede taget</p>
    </div>
</div>

<div id="annullerButtonAddBilDiv">
    <form action="/" method="get">
        <button class="redButton" type="submit">Annuller</button>
    </form>
</div>

</body>
</html>