<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Opret bruger</h1>

<div id="opretBrugerBoks">
    <form id="login-form" action="/opretBruger" method="post">

        <label class="loginForm-label">Indtast ønskede brugernavn: </label>
        <input class="loginForm-input" type="text" placeholder="Indtast her..." name="brugernavn">

        <label class="loginForm-label">Indtast ønskede adgangskode: </label>
        <input class="loginForm-input" type="text" placeholder="Indtast her..." name="kode">

        <button class="loginForm-submitButton" type="submit">Login</button>
        <p class="advarselstekst">Brugernavnet er allerede taget - prøv igen.</p>
    </form>

    <form class="annullerButton" action="/adminPage" method="post">
        <button class="loginForm-submitButton" type="submit">Tilbage</button>
    </form>
    <form id="annullerButton" action="/" method="get">
        <button class="loginForm-submitButton" type="submit">Til forside</button>
    </form>
</div>

</body>
</html>