<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slet Bruger bekræft</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<h1>Slet en bruger</h1>

<div class="h2Div">
    <h2>Dobbelt tjek bruger ID</h2>
</div>

<div class="generelBodyDiv">
    <form id="login-form" action="/sletBruger" method="post">
        <table>
            <tr>
                <td><label class="generalFormLabel">Indtast brugerens ID for at slette: </label></td>

                <td><input class="generalFormInput" required type="input" name="bruger_id" th:value="${bruger_id}"/></td>
            </tr>
        </table>
        <button class="redButton" type="submit" style="margin-top:15px;">Slet bruger</button>
    </form>
</div>


<div id="annullerButtonAddBilDiv">
    <form action="/adminSide" method="post">
        <button class="redButton" type="submit">Tilbage</button>
    </form>
</div>

</body>
</html>