*{
    font-family: Verdana;
    padding:0;
    margin:0;
}
a{
    color: #144164;
    text-decoration:none;
}
#aboveHeaderDiv {
    /*width:100%;*/
    height: auto;
    display: flex;
    padding: 5px 20px 5px 20px;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #E7E4D3;
}
.aboveHeaderItem {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    background-color: white;
    border: 1px solid white;
}
.aboveHeaderItem:hover {
    background-color: #144164;
    border: 1px solid #206BA4;
    transition: 0.4s;
    color: white;
}
.aboveHeaderItem:last-child {
    margin-right: 30px;
}
h1{
    text-transform: uppercase;
    font-size: 38px;
    color: #144164;
    text-align: center;
    padding:40px 0 40px 0;
}
h2{
    text-align: center;
    font-size: 28px;
    color: white;
}
#h2Div{
    width: 100%;
    background-color: #10334f;
    padding: 15px 0;
}
.menuBoxDiv{
    width: 100%;
    padding: 15px 0px;
    background-color: #144164;
    display: flex;
    justify-content: center;
}
.menuBoxDiv:nth-child(odd){
    width: 100%;
    padding: 15px 0px;
    background-color: #10334f;
    display: flex;
    justify-content: center;
}
.menuPageItem{
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    font-size: 20px;
    padding: 30px 120px;
    cursor: pointer;
}
.menuPageItem:hover{
    border: 1px solid white;
    transition: 0.5s;
}
#statusBar{
    width:100%;
    padding: 15px 0 15px 0;
    background-color: #144164;
    font-size: 12px;
    color: white;
}
#loggedInAsFunction{
    text-align: center;
}
#bodyDiv{
    justify-content: space-evenly;
    display:flex;
    background-color: #144164;
}
.c2aDiv1 {
    background-image: url("img/c2a1-test(1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.c2aDiv2 {
    background-image: url("img/c2a2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.c2aDiv3 {
    background-image: url("img/c2a3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.c2aDivInner{
    background-color: rgb(255,255,255, 0);
    padding: 90px 100px;
    background-size: cover;

}
.c2aButton {
    background-color: rgb(13,42,64, 0.4);
    border: 1px solid white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 200px 30px;
    color:white;
    cursor: pointer;
}
.c2aButton:hover{
    background-color: rgb(13,42,64, 0.9);
    transition: 0.3s;
    color: white;
    border: 1px solid white;
}

.c2aButton3 {
    background-color: white;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 300px 120px;
}
.c2aButton3:hover{
    background-color: darkorange;
    transition: 0.5s;
}
#annullerButton{
    float:left;
}
#footerForside{
    width:100%;
    padding: 15px 0 15px 0;
    background-color: #144164;
    font-size: 12px;
    color: white;
}
#footerForside{
    text-align: center;
}

/* ADD BILL-SIDE CSS*/
#addBilFormDiv{
    background-color: #144164;
    padding:80px;
    color:white;
    justify-content: center;
    display: flex;
}
.addBilLabel{
    margin-right:50px;
}
.addBilFormInput{
    background-color: #BBD9EE;
    border: 1px solid white;
    padding:5px 8px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#annullerButtonAddBilDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #641419;
    padding:10px 0px;
}
.greenButton{
    background-color: #146437;
    color: white;
    padding:10px 30px;
    border: 1px solid white;
    cursor: pointer;
}
.greenButton:hover{
    background-color: #0c3a20;
    transition: 0.5s;
}
.redButton{
    padding:10px 150px;
    width:100%;
    border: 1px solid #641419;
    background-color: #641419;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.redButton:hover{
    border: 1px solid white;
    transition: 0.5s;
}

#lejeAftaleTopDiv{
    width: 100%;
    height: 40px;
    background-color: #206BA4;
    display: flex;
    justify-content: space-evenly;
}
.kontrakt-box{
    background-color: #206BA4;
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 2px;
}
.kontrakt-box-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/*Forretningsudvikler/seBiler*/
.statBox{
    display: flex;
    background-color: #144164;
    color:white;
    justify-content: center;
    flex-direction: column;
}
.statBoxContainer{
    background-color: #144164;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


/*pop up bøf kode*/

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    transition: opacity 200ms;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*}*/
/*.overlay.light {*/
/*    background: rgba(255, 255, 255, 0.5);*/
/*}*/
/*.overlay .cancel {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    cursor: default;*/
/*}*/
/*.overlay:target {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/
/*.popup {*/
/*    margin: 75px auto;*/
/*    padding: 20px;*/
/*    background: #fff;*/
/*    border: 1px solid #666;*/
/*    width: 300px;*/
/*    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);*/
/*    position: relative;*/
/*}*/
/*.light .popup {*/
/*    border-color: #aaa;*/
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);*/
/*}*/
/*.popup h2 {*/
/*    margin-top: 0;*/
/*    color: #666;*/
/*    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;*/
/*}*/
/*.popup .close {*/
/*    position: absolute;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    top: 20px;*/
/*    right: 20px;*/
/*    opacity: 0.8;*/
/*    transition: all 200ms;*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*    color: #666;*/
/*}*/
/*.popup .close:hover {*/
/*    opacity: 1;*/
/*}*/
/*.popup .content {*/
/*    max-height: 400px;*/
/*    overflow: auto;*/
/*}*/
/*.popup p {*/
/*    margin: 0 0 1em;*/
/*}*/
/*.popup p:last-child {*/
/*    margin: 0;*/
/*}*/

