* {
    font-family: Verdana;
    padding: 0;
    margin: 0;
}

a {
    color: #144164;
    text-decoration: none;
}

#aboveHeaderDiv {
    height: auto;
    display: flex;
    padding: 5px 20px 5px 20px;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #E7E4D3;
}

.aboveHeaderItem {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    background-color: white;
    border: 1px solid white;
}

.aboveHeaderItem:hover {
    background-color: #144164;
    border: 1px solid #206BA4;
    transition: 0.4s;
    color: white;
}

.aboveHeaderItem:last-child {
    margin-right: 30px;
}

h1 {
    text-transform: uppercase;
    font-size: 38px;
    color: #144164;
    text-align: center;
    padding: 40px 0 40px 0;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: white;
}

h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
}

#h2Div {
    width: 100%;
    background-color: #10334f;
    padding: 15px 0;
}

.h2Div {
    width: 100%;
    background-color: #10334f;
    padding: 15px 0;
}

.menuBoxDiv {
    width: 100%;
    padding: 15px 0px;
    background-color: #144164;
    display: flex;
    justify-content: center;
}

.menuBoxDiv:nth-child(odd) {
    width: 100%;
    padding: 15px 0px;
    background-color: #10334f;
    display: flex;
    justify-content: center;
}

.menuPageItem {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    font-size: 20px;
    padding: 30px 120px;
    cursor: pointer;
}

.menuPageItem:hover {
    border: 1px solid white;
    transition: 0.5s;
}

#statusBar {
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #144164;
    font-size: 12px;
    color: white;
}

#loggedInAsFunction {
    text-align: center;
}

#bodyDiv {
    justify-content: space-evenly;
    display: flex;
    background-color: #144164;
}

.c2aDiv1 {
    background-image: url("img/c2a1-test(1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.c2aDiv2 {
    background-image: url("img/c2a2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.c2aDiv3 {
    background-image: url("img/c2a3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.c2aDivInner {
    background-color: rgb(255, 255, 255, 0);
    padding: 90px 100px;
    background-size: cover;

}

.c2aButton {
    background-color: rgb(13, 42, 64, 0.4);
    border: 1px solid white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 200px 30px;
    color: white;
    cursor: pointer;
}

.c2aButton:hover {
    background-color: rgb(13, 42, 64, 0.9);
    transition: 0.3s;
    color: white;
    border: 1px solid white;
}

.c2aButton3 {
    background-color: white;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 300px 120px;
}

.c2aButton3:hover {
    background-color: darkorange;
    transition: 0.5s;
}

#annullerButton {
    float: left;
}

#footerForside {
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #144164;
    font-size: 12px;
    color: white;
}

#footerForside {
    text-align: center;
}

/* ADD BILL-SIDE CSS*/
#generalBodyDiv {
    background-color: #144164;
    padding: 80px;
    color: white;
    justify-content: center;
    display: flex;
}
                                /* generel/general Body Divs skal være der*/
#generelBodyDiv {
    background-color: #144164;
    padding: 80px;
    color: white;
    justify-content: center;
    display: flex;
}

.generelBodyDiv {
    background-color: #144164;
    padding: 80px;
    color: white;
    justify-content: center;
    display: flex;
}

.generalInnerDiv{
    background-color: #10334f;
    padding: 15px;
    margin: 0 15px;
    border: 1px solid white;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.seBilerPageBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.advarselsDiv {
    background-color: #10334f;
    padding: 15px 0;
    color: white;
    justify-content: center;
    text-align: center;
    display: flex;
}

.advarselsInnerDiv {
    border: 1px solid white;
    padding: 15px;
    background-color: #641419;
}

.generalFormLabel {
    margin-right: 50px;
}

.generalFormInput {
    background-color: #BBD9EE;
    border: 1px solid white;
    padding: 5px 8px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#annullerButtonAddBilDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #641419;
    padding: 10px 0px;
}

.greenButton {
    background-color: #146437;
    color: white;
    padding: 10px 30px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 15px;
}

.greenButton:hover {
    background-color: #0c3a20;
    transition: 0.5s;
}

.greenButtonSelected {
    background-color: #0c3a20;
    color: white;
    padding: 10px 30px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 15px;
}

.redButton {
    padding: 10px 150px;
    width: 100%;
    border: 1px solid #641419;
    background-color: #641419;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.redButton:hover {
    border: 1px solid white;
    transition: 0.5s;
}

#lejeAftaleSortDiv {
    width: 100%;
    padding: 15px;
    background-color: #144164;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box
}

#lejeAftaleSearchDiv {
    width: 100%;
    padding: 15px;
    background-color: #10334f;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box
}

.kontrakt-box {
    background-color: #144164;
    width: 300px;
    height: 120px;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    color: white;

}

.kontrakt-box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/*Forretningsudvikler/seBiler*/

.dropDownDiv {
    background-color: #144164;
    width: 100%;
}

.seBilerTable {
    color: white;
    background-color: #144164;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 600px;
    padding: 20px;

}
.seBilerTR{
    color: white;
    background-color: #10334f;
}
.seBilerTR:nth-child(even){
    background-color: #144164;
}

.statBox {
    display: flex;
    background-color: #144164;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
    width: 100%;
}

.statBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/*forretningsudvikler se kunder*/

.forretningsudviklerTh {
    padding: 5px 50px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #144164;
    border-top: 1px solid #144164;
    text-transform: uppercase;
    color: #144164;
    background-color: white;
}

.forretningsudviklerTd {
    padding: 5px 50px;
    text-align: center;
    vertical-align: middle;
}

.forretningsudviklerTr:nth-child(even) {
    background-color: rgb(20, 100, 55, 0.15);
}

.forretningsudviklerTr {
    justify-content: center;
    margin-top: 6px;
}



/*ADMINISTRATIONS STYLING START*/
.tableBody {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    height: 500px;
    overflow: auto;
}

.brugerlisteTh {
    padding: 10px 100px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #144164;
    border-top: 1px solid #144164;
    text-transform: uppercase;
    color: #144164;
    background-color: white;
}

.brugerlisteTd {
    padding: 10px 100px;
    text-align: center;
    vertical-align: middle;
}

.brugerlisteTr:nth-child(even) {
    background-color: rgb(20, 100, 55, 0.15);
}

.brugerlisteTr {
    justify-content: center;
    margin-top: 6px;
}

/*ADMINISTRATIONS STYLING END*/


/*Biler klar til rapport - Laurits*/

.statBoxBilerRapport {
    display: flex;
    background-color: #144164;
    color: white;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
.statBoxBilerRapport tbody tr:nth-child(even) {
    background-color: #10334f;
}

/*Biler klar til rapport SLUT - Laurits*/








