<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forretningsudvikler</title>
    <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>
<div>

    <h1>Forretningsudvikler</h1>

    <div class="menuBoxDiv">
        <form action="/seBiler" method="post">
            <input class="menuPageItem" type="submit" value="Se Biler" >
        </form>
    </div>

    <div class="menuBoxDiv">
        <form action="/seLejeaftaler" method="get">
            <input class="menuPageItem" type="submit" value="Se Lejekontrakter">
        </form>
    </div>

    <div class="menuBoxDiv">
        <form action="/printRapporter" method="get">
            <input class="menuPageItem" type="submit" value="Se Skaderapporter">
        </form>
    </div>

    <div class="menuBoxDiv">
        <form action="/seKunder" method="post">
            <input class="menuPageItem" type="submit" value="Se Kunder">
        </form>
    </div>
    <div class="menuBoxDiv">
        <form action="/seLokationer" method="post">
            <input class="menuPageItem" type="submit" value="Se Lokationer">
        </form>
    </div>

</div>

<div class="annullerButtonAddBilDiv">
    <form action="/" method="get">
        <button class="redButton" type="submit">Tilbage</button>
    </form>
</div>
</body>
</html>