<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forretningsudvikler</title>
    <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>
<div>

    <h1>Forretningsudvikler</h1>

    <div class="menuBoxDiv">
        <form action="/seBiler" method="post">
            <input class="menuPageItem" type="submit" value="se alle biler" >
        </form>
    </div>

    <div class="menuBoxDiv">
        <form action="/seLejeaftaler" method="get">
            <input class="menuPageItem" type="submit" value="se lejekontrakter">
        </form>
    </div>

    <div class="menuBoxDiv">
        <form action="/printRapporter" method="get">
            <input class="menuPageItem" type="submit" value="se skaderapporter">
        </form>
    </div>

    <div>
        <form action="/" method="get">
            <button class="redButton" type="submit">Tilbage</button>
        </form>
    </div>




</div>
</body>
</html>