<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>

<div>
    <form th:action="@{/seBilerDropdown}" method="post">
        <select name="dropdown">
            <option value="alle">Alle</option>
            <option value="UDLEJET">Udlejede</option>
            <option value="SOLGT">solgte biler</option>
            <option value="LEJEKLAR">biler klar til leje</option>
        </select>
        <input type="submit" value="Submit">
    </form>


</div>


<div>
    <table>
        <thead>
        <tr>
            <th>Vognnummer</th>
            <th>Stelnummer</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Gear</th>
            <th>Brændstof</th>
            <th>Tilstand</th>
            <th>CO2</th>
            <th>Stålpris</th>
            <th>Registreringsafgift</th>
            <th th:if="${toggle == 1}">kontraktpris</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="bil, statistikIndex : ${biler}">
            <td th:text="${bil.vognnummer}"/>
            <td th:text="${bil.stelnummer}"/>
            <td th:text="${bil.maerke_navn}"/>
            <td th:text="${bil.model_navn}"/>
            <td th:text="${bil.gear_type}"/>
            <td th:text="${bil.braendstof}"/>
            <td th:text="${bil.bilTilstand}"/>
            <td th:text="${bil.CO2_udledning}"/>
            <td th:text="${bil.staalpris}"/>
            <td th:text="${bil.registrerings_afgift}"/>
            <td th:if="${priser != null and not #lists.isEmpty(priser)}" th:text="${priser[statistikIndex.index]}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${toggle == 1}">
    <h4>Den samlede pris for nuværende udlejede bilers kontrakter</h4>
    <p>sum: <span th:text="${#aggregates.sum(priser)}"/></p>

</div>


</body>
</html>