<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <th>Vognnummer</th>
            <th>Stelnummer</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Gear</th>
            <th>Brændstof</th>
            <th>Tilstand</th>
            <th>CO2</th>
            <th>Stålpris</th>
            <th>Registreringsafgift</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="bil: ${biler}">
            <td th:text="${bil.vognnummer}"/>
            <td th:text="${bil.stelnummer}"/>
            <td th:text="${bil.maerke_navn}"/>
            <td th:text="${bil.model_navn}"/>
            <td th:text="${bil.gear_type}"/>
            <td th:text="${wish.wish_desc}"/>
            <td th:text="${wish.wish_price}"/>
            <td th:text="${wish.wish_link}"/>

        </tr>
        </tbody>
    </table>
</div>



</body>
</html>