<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kunder</title>
  <link rel="stylesheet" href="/MyCSS.css">
</head>
<body>

<h1>Kunder</h1>

<div class="tableBody" style="padding: 20px">

  <table>
    <thead>
    <tr>
      <th class="kundelisteTh" >Kunde ID</th>
      <th class="kundelisteTh" >Fornavn</th>
      <th class="kundelisteTh" >Efternavn</th>
      <th class="kundelisteTh" >Email</th>
      <th class="kundelisteTh" >Mobil</th>
    </tr>
    </thead>
    <tbody>
    <tr class="kundelisteTr" th:each="kunde: ${kundeListe}">
      <td class="kundelisteTd" th:text="${kunde.kunde_id}"/>
      <td class="kundelisteTd" th:text="${kunde.fornavn}"/>
      <td class="kundelisteTd" th:text="${kunde.efternavn}"/>
      <td class="kundelisteTd" th:text="${kunde.email}"/>
      <td class="kundelisteTd" th:text="${kunde.mobil}"/>
    </tr>


    </tbody>


  </table>

</div>

<div>
  <form action="/" method="get">
    <button class="redButton" type="submit">Tilbage</button>
  </form>
</div>

</body>
</html>