<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<form action="SkadeOgUdbedringLandingPage" method="get">
    <button>Skade og udbedring bruger</button>
</form>
<form action="dataRegistrering" method="get">
    <button>Data Registrering</button>
</form>


<form action="login" method="get">
    <button class="loginButton">Login</button>
</form>

<div id="loginModul">
    <form id="login-form" action="/login" method="post" target="_blank">

        <h2>Login</h2>

        <label class="loginForm-label">Brugernavn: </label>
        <input class="loginForm-input" type="text" placeholder="Indtast her...">

        <label class="loginForm-label">Adgangskode: </label>
        <input class="loginForm-input" type="text" placeholder="Indtast her...">

        <button class="loginForm-submitButton" type="submit">Login</button>
        <button class="loginForm-submitButton" type="submit">Annuller</button>

    </form>
</div>

</body>
</html>