<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<div id="aboveHeaderDiv">
    <form action="/adminLogin" method="post">
        <input class="aboveHeaderItem" type="submit" value="Admin">
    </form>
    <form action="/loginButton" method="get">
        <button class="aboveHeaderItem">Log ind</button>
    </form>

    <form action="/logBrugerUd" method="get">
        <button class="aboveHeaderItem">Log ud</button>
    </form>
</div>

<div id="headerDiv">
    <h1>Bilabonnements admin system</h1>

    <div id="statusBar">
        <div id="loggedInAsFunction" th:text="${loggedInUser}"></div>
    </div>
</div>

<div id="bodyDiv">

    <div class="c2aDiv1">
        <div class="c2aDivInner">
            <form action="SkadeOgUdbedringLandingPage" method="get">
                <button class="c2aButton">Skade og udbedring</button>
            </form>
        </div>
    </div>

    <div class="c2aDiv2">
        <div class="c2aDivInner">
            <form action="dataRegistrering" method="get">
                <button class="c2aButton">Data Registrering</button>
            </form>
        </div>
    </div>

    <div class="c2aDiv3">
        <div class="c2aDivInner">
            <form action="/forretningsudviklerSide" method="post">
                <button class="c2aButton">Forretningsudvikler</button>
            </form>
        </div>
    </div>

</div>

<div id="footerForside">
    <p id="footerTekst">CREATED BY: Emil, Laurits, Frikke & Mailund</p>
</div>

</body>
</html>