<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<h1>Bilabonnements admin system</h1>

<div id="loggedInAs-section" th:text="${loggedInUser}"></div>

<form action="SkadeOgUdbedringLandingPage" method="get">
    <button>Skade og udbedring bruger</button>
</form>
<form action="dataRegistrering" method="get">
    <button>Data Registrering</button>
</form>
<form action="/forretningsudviklerSide" method="post">
    <input type="submit" value="Forretningsudvikler">
</form>
<form action="/adminSide" method="post">
    <input type="submit" value="Admin">
</form>

<form action="/loginButton" method="get">
    <button class="loginButton">Log ind</button>
</form>

<form action="/logBrugerUd" method="get">
    <button class="logoutButton">Log ud</button>
</form>

</body>
</html>